<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="eef" params="name parent *origin">

    <joint name="gripper_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_coupler_link"/>
      <xacro:insert_block name="origin" />
      <axis xyz="0 0 1"/>
    </joint>

    <link name="${name}_coupler_link">
      <visual>
        <origin xyz="0 0.015 0" rpy="0 0 -${pi / 2}" />
        <geometry>
          <mesh filename="package://xr_bringup/meshes/visual/camera_suction_cup_mounting_flange.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="">
          <color rgba="0.8549 0.8549 0.1607 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0.015 0" rpy="0 0 -${pi / 2}" />
        <geometry>
          <mesh filename="package://xr_bringup/meshes/collision/camera_suction_cup_mounting_flange.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="${name}_coupler_plane_joint" type="fixed">
      <parent link="${name}_coupler_link"/>
      <child link="${name}_coupler_plane_link"/>
      <origin xyz="0 0.015 0" rpy="0 0 0" />
      <axis xyz="0 0 1"/>s
    </joint>

    <link name="${name}_coupler_plane_link" />

    <joint name="${name}_camera_base_joint" type="fixed">
      <parent link="${name}_coupler_plane_link" />
      <child link="${name}_camera_base_link" />
      <origin xyz="0.0775 0.01 0" rpy="${pi / 2} 0 ${pi / 2}" />
    </joint>

    <link name="${name}_camera_base_link" />

    <joint name="${name}_joint" type="fixed">
      <parent link="${name}_coupler_plane_link"/>
      <child link="suction_cup_link"/>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <axis xyz="0 0 1"/>
    </joint>

    <link name="suction_cup_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi / 2} 0 ${pi}" />
        <geometry>
          <mesh filename="package://xr_bringup/meshes/visual/KD-ES70A-Z1-24V.STL" />
        </geometry>
        <material name="">
          <color rgba="0.1411 0.7574 0.6290 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${pi / 2} 0 ${pi}" />
        <geometry>
          <mesh filename="package://xr_bringup/meshes/collision/KD-ES70A-Z1-24V.STL" />
        </geometry>
        </collision>
    </link>

    <joint name="tcp_joint" type="fixed">
      <origin xyz="0 0.135 0" rpy="-${pi / 2} 0 0" />
      <parent link="suction_cup_link"/>
      <child link="tcp"/>
    </joint>

    <link name="tcp" />

    <!-- <link name="tcp" >
      <visual>
        <origin rpy="0 0 0" xyz="0 0 -0.0375" />
        <geometry>
          <cylinder length="0.075" radius="0.007"/>
        </geometry>
        <material name="">
          <color rgba="0.9 0.9 0.9 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 -0.0375" />
        <geometry>
          <cylinder length="0.075" radius="0.007"/>
        </geometry>
      </collision>
    </link> -->

  </xacro:macro>
  
</robot>