<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="realman_arm_ros2_control" params="sim_left sim_right namespace">
    <ros2_control name="right_arm" type="system">
      <hardware>
        <xacro:if value="${sim_right}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:unless value="${sim_right}">
          <plugin>realman_arm_hardware_interface/RealmanArmHardwareInterface</plugin>
        </xacro:unless>
      </hardware>
      <joint name="arm_J1_r">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="arm_J2_r">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="arm_J3_r">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="arm_J4_r">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="arm_J5_r">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="arm_J6_r">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="arm_J7_r">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <ros2_control name="left_arm" type="system">
      <hardware>
        <xacro:if value="${sim_left}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:unless value="${sim_left}">
          <plugin>realman_arm_hardware_interface/RealmanArmHardwareInterface</plugin>
        </xacro:unless>
      </hardware>
        <joint name="arm_J1_l">
          <command_interface name="position"/>
          <command_interface name="effort"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="arm_J2_l">
          <command_interface name="position"/>
          <command_interface name="effort"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="arm_J3_l">
          <command_interface name="position"/>
          <command_interface name="effort"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="arm_J4_l">
          <command_interface name="position"/>
          <command_interface name="effort"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="arm_J5_l">
          <command_interface name="position"/>
          <command_interface name="effort"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="arm_J6_l">
          <command_interface name="position"/>
          <command_interface name="effort"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="arm_J7_l">
          <command_interface name="position"/>
          <command_interface name="effort"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
    </ros2_control>

  </xacro:macro>
</robot>